<section id="timeline">
    <slot />
</section>

<style>
    #timeline {
        display: flex;
    }
    #timeline {
        flex-direction: column;
    }
    @media (min-width: 75em) {
        #timeline {
            flex-direction: row;
        }
    }
</style>